{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Preparation</title>
     <link rel ="stylesheet" href="../static/css/mystyle1.css">
     <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../static/images/copy.png" alt="Logo" class="logo"></a>
            <a href="/" class="brand-name">PrepPal</a>
        </div>
        <ul class="navbar-menu">
            <!-- <li><a href="#">Exams</a></li> -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Exams</a>
                    <div class="dropdown-content">
                        <a href="#">Civil Services</a>
                        <a href="#">SSC</a>
                        <a href="#">National Defence Academy</a>
                        <div class="dropdown">
                            <a href="#" class="dropbtn">Defence Services</a>
                            <div class="dropdown-content nested-dropdown">
                                <a href="#">Combined Defence Services</a>
                                <div class="nested-dropdown">
                                    <a href="#">Indian Military Academy</a>
                                    <a href="#">Officers Training Academy</a>
                                </div>
                                <a href="#">Coast Guard</a>
                                <a href="#">Paramilitary Forces</a>
                            </div>
                        </div>
                    </div>
                </li>
            <li><a href="#">Notes</a></li>
            <li><a href="/candidateRegistrartion">Test Series</a></li>
            <li><a href="#">Current Affairs</a></li>
            <li><a href="#">Pass</a></li>
            <a href="/logout">Logout</a>
        </ul>
    </nav>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="header">
        <br>
        <h1>One Destination for Complete Exam Preparation</h1>
        <br>
        <p>Learn &#9654; Practice &#9654; Improve &#9654; Succeed</p>
        <br>
        <h3>Hello {{request.session.name}}, What are you practicing today ?</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/ssc.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">SSC</h5>
                            <a href="#" class="btn btn-primary">Go to Test-Series</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/nda.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">National Defence Academy (Maths)</h5>
                                <a href="#" class="btn btn-primary">Go to Test-Series</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/CDS.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Combined Defence Services (IMA-MATHS)</h5>
                                <a href="#" class="btn btn-primary">Go to Test-Series</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/CDS.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Combined Defence Services (OTA)</h5>
                                <a href="#" class="btn btn-primary">Go to Test-Series</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/afcat.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">AFCAT</h5>
                                <a href="#" class="btn btn-primary">Go to Test-Series</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card transparent-card" style="width: 18rem;">
                        <img src="../static/images/upsc.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Civil Services</h5>
                                <a href="#" class="btn btn-primary">Go to Test-Series</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>      