{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Preparation</title>
     <link rel ="stylesheet" href="../static/css/mystyle.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../static/images/copy.png" alt="Logo" class="logo"></a>
            <a href="{% url 'App:home' %}" class="brand-name">PrepPal</a>
        </div>
        <ul class="navbar-menu">
            <!-- <li><a href="#">Exams</a></li> -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Exams</a>
                <div class="dropdown-content">
                    <a href="#">Civil Services</a>
                    <a href="#">SSC</a>
                    <!-- <a href="#">Defence Services</a> -->
                    <a href="#" class="dropbtn">Defence Services</a>
                    <div class="dropdown-content nested-dropdown">
                        <a href="#">Combined Defence Services</a>
                            <div class="nested-dropdown">
                                <a href="#">Indian Military Academy</a>
                                <a href="#">Officers Training Academy</a>
                            </div>
                        <a href="#">National Defence Academy</a>
                        <a href="#">Coast Guard</a>
                        <a href="#">Paramilitary Forces</a>
                    </div>
                </div>
            </div>
            </li>
            <li><a href="#">Notes</a></li>
            <li><a href="{% url 'App:test' %}">Test Series</a></li>
            <li><a href="#">Current Affairs</a></li>
            <li><a href="{% url 'App:pass' %}">Pass</a></li>
        </ul>
    </nav>
    <div class="header">
        <br>
        <h1>One Destination for Complete Exam Preparation</h1>
        <br>
        <p>Learn &#9654; Practice &#9654; Improve &#9654; Succeed</p>
        <br>
        <a href="{% url 'App:candidateRegistration' %}" class="get-started-btn">Get Started</a>
        <br>
        <br>
        <div class="app-buttons">
            <a href="#"><img src="../static/images/upsc.png" alt="UPSC"></a>
            <a href="#"><img src="../static/images/CDS.png" alt="Combined Defence Services"></a>
            <a href="#"><img src="../static/images/afcat.png" alt="AFCAT"></a>
        </div>
    </div>
    <div class="stats">
        <div class="stat">
            <h3>Registered Students</h3>
            <p>{{ registered_students_count }}</p>  <!--Display the count here -->
        </div>
    </div>
        <div class="stat">
            <h3>Tests Attempted</h3>
            <p></p>
        </div>
    </div>
    <div class="content">
        <h2><i>A Journey from Aspirant To Officer  !! </i></h2>
        <img src="../static/images/file.png" alt="Exam Preparation Illustration">
    </div>
</body>
</html>