{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Preparation</title>
     <link rel ="stylesheet" href="../static/css/mystyle.css">
     <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../static/images/copy.png" alt="Logo" class="logo"></a>
            <a href="/" class="brand-name">PrepPal</a>
        </div>
        <ul class="navbar-menu">
            <!-- <li><a href="#">Exams</a></li> -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Exams</a>
                <div class="dropdown-content">
                    <a href="#">UPSC</a>
                    <a href="#">SSC</a>
                    <a href="#">Banking</a>
                </div>
            </li>
            <li><a href="#">Notes</a></li>
            <li><a href="#">Test Series</a></li>
            <li><a href="#">Current Affairs</a></li>
            <li><a href="#">Pass</a></li>
        </ul>
        <div class="navbar-right">
            <input type="text" placeholder="Search" class="search-bar">
            <!-- <button class="get-started">Get Started</button> -->
            <!-- <a href="/login" class="get-started-btn">Get Started</a> -->
        </div>
    </nav>
    <div class="header">
        <br>
        <h1>One Destination for Complete Exam Preparation</h1>
        <br>
        <p>Learn &#9654; Practice &#9654; Improve &#9654; Succeed</p>
        <br>
        <a href="/candidateRegistration" class="get-started-btn">Get Started</a>
        <br>
        <br>
        <div class="app-buttons">
            <a href="#"><img src="../static/images/images-removebg-preview.png" alt="UPSC"></a>
            <a href="#"><img src="../static/images/cds-combined-defence-services-removebg-preview.png" alt="Combined Defence Services"></a>
            <a href="#"><img src="../static/images/png-clipart-coat-of-arms-yellow-eagle-and-lion-indian-air-force-national-defence-academy-air-force-common-admission-test-medical-recruitment-s-emblem-logo-thumbnail-removebg-preview.png" alt="AFCAT"></a>
        </div>
    </div>
    <div class="stats">
        <div class="stat">
            <h3>Registered Students</h3>
            <p>
            </p>
        </div>
        <div class="stat">
            <h3>Tests Attempted</h3>
            <p></p>
        </div>
    </div>
    <div class="content">
        <h2><i>A Journey from Aspirant To Officer  !! </i></h2>
        <img src="../static/images/file.png" alt="Exam Preparation Illustration">
    </div>
</body>
</html>