{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrepPal Login</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>
    <!-- Overlay Background -->
    <div class="overlay">
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#"><img src="../static/images/copy.png" alt="Logo" class="logo"></a>
                <a href="#" class="brand-name">PrepPal</a>
            </div>
            <ul class="navbar-menu">
                <!-- <li><a href="#">Exams</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropbtn" aria-disabled="true">Exams</a>
                    <div class="dropdown-content">
                        <a href="#">UPSC</a>
                        <a href="#">SSC</a>
                        <a href="#">Banking</a>
                    </div>
                </li>
                <li><a href="#" aria-disabled="true">Notes</a></li>
                <li><a href="#" aria-disabled="true">Test Series</a></li>
                <li><a href="#" aria-disabled="true">Pass</a></li>
            </ul>
            <div class="navbar-right">
                <input type="text" placeholder="Search" class="search-bar" disabled>
                <!-- <a href="/login" class="get-started-btn" aria-disabled="true">Get Started</a> -->
            </div>
        </nav>
        <div class="header">
            <br>
            <h1>One Destination for Complete Exam Preparation</h1>
            <br>
            <p>Learn &#9654; Practice &#9654; Improve &#9654; Succeed</p>
            <!-- <a href="#" class="get-started-btn" aria-disabled="true">Get Started</a> -->
            <br>
            <div class="app-buttons">
                <a href="#"><img src="../static/images/images-removebg-preview.png" alt="UPSC"></a>
                <a href="#"><img src="../static/images/cds-combined-defence-services-removebg-preview.png" alt="Combined Defence Services"></a>
                <a href="#"><img src="../static/images/png-clipart-coat-of-arms-yellow-eagle-and-lion-indian-air-force-national-defence-academy-air-force-common-admission-test-medical-recruitment-s-emblem-logo-thumbnail-removebg-preview.png" alt="AFCAT"></a>
            </div>
        </div>
        <div class="stats">
            <div class="stat">
                <h3>Registered Students</h3>
                <p>
                </p>
            </div>
            <div class="stat">
                <h3>Tests Attempted</h3>
                <p></p>
            </div>
        </div>
        <div class="content">
            <h2><i>A Journey from Aspirant To Officer  !! </i></h2>
            <img src="../static/images/file.png" alt="Exam Preparation Illustration">
        </div>
    </div>

    <!-- Modal Container -->
    <div class="modal">
        <div class="modal-header">
            <img src="../static/images/copy.png" alt="Logo" class="logo">
            <h2>Get started with PrepPal!</h2>
            <!-- <p>Continue with your mobile number</p> -->
        </div>
        <div class="modal-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'App:login' %}" method="POST">
                {% csrf_token %}
                <div class="input-container">
                    <label>Username:</label>
                    <input type="text" name ="username" placeholder="Please Enter your username">
                </div>
                <div class="input-container">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Please Enter your password">
                </div>
                <!-- <a href="/home" class="continue-btn">Continue</a> -->
                <button type="submit" class="continue-btn">Continue</button>
                <div class="modal-footer">
                    <p>Login via OTP? <a href="{% url 'App:otp-verification' %}">Send OTP</a></p>
                </div>
            </form>        
        </div>
    </div>
</body>
</html>
