{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Preparation</title>
     <link rel ="stylesheet" href="../static/css/payment.css">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="#"><img src="../static/images/copy.png" alt="Logo" class="logo"></a>
            <a href="{% url 'App:homelog' %}" class="brand-name">PrepPal</a>
        </div>
        <ul class="navbar-menu">
            <!-- <li><a href="#">Exams</a></li> -->
            <li class="dropdown">
                <a href="/home" class="dropbtn">Exams</a>
                <div class="dropdown-content">
                    <a href="#">Civil Services</a>
                    <a href="#">SSC</a>
                    <!-- <a href="#">Defence Services</a> -->
                    <a href="#" class="dropbtn">Defence Services</a>
                    <div class="dropdown-content nested-dropdown">
                        <a href="#">Combined Defence Services</a>
                            <div class="nested-dropdown">
                                <a href="#">Indian Military Academy</a>
                                <a href="#">Officers Training Academy</a>
                            </div>
                        <a href="#">National Defence Academy</a>
                        <a href="#">Coast Guard</a>
                        <a href="#">Paramilitary Forces</a>
                    </div>
                </div>
            </div>
            </li>
            <li><a href="{% url 'App:notes' %}">Notes</a></li>
            <li><a href="{% url 'App:test-history' %}">Test History</a></li>
            <li><a href="#">Current Affairs</a></li>
            <li><a href="{% url 'App:pass' %}">Pass</a></li>
            <li><a href="{% url 'App:logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="plan-benefits">
            <h2>Plan Benefits</h2>
            <ul>
                <!-- <li>70,000+ Mock Test <span class="check">&#10003;</span></li>
                <li>Unlimited Pro Live Test <span class="check">&#10003; -->
                <li>Notes<span class="check">&#10003;</span></li>
                <li>Unlimited Practice Pro Questions <span class="check">&#10003;</span></li>
                <li>Previous Year Papers <span class="check">&#10003;</span></li>
                <li>Unlimited Re-Attempt mode for All Tests <span class="check">&#10003;</span></li>
            </ul>
        </div>
        <div class="plans">
            <div class="pricing-plans">
                <h4>Select your Pass Pro Plan:</h4>
                <div class="plan-option">
                    <input type="radio" name="plan" id="Monthly pass" data-amount="49900" data-title="Monthly pass" checked>
                    <label for="Monthly pass">
                        <div class="plan-info">
                            <span class="plan-title">Monthly Pass</span>
                            <span class="plan-validity">Valid for 31 Days</span>
                        </div>
                        <div class="plan-price">
                            <span class="original-price">499</span>
                        </div>
                    </label>
                </div>
                <div class="plan-option">
                    <input type="radio" name="plan" id="6 Months" data-amount="149900" data-title="6 Months Pass" checked>
                    <label for="6 Months">
                        <div class="plan-info">
                            <span class="plan-title">6 Months Pass</span>
                            <span class="plan-validity">Valid for 180 Days</span>
                        </div>
                        <div class="plan-price">
                            <span class="original-price">₹1499</span>
                        </div>
                    </label>
                </div>
                <div class="plan-option">
                    <input type="radio" name="plan" id="yearly" data-amount="199900" data-title="Yearly Pass Pro" checked>
                    <label for="yearly">
                        <div class="plan-info">
                            <span class="plan-title">Yearly Pass</span>
                            <span class="plan-validity">Valid for 365 Days</span>
                        </div>
                        <div class="plan-price">
                            <span class="original-price">₹1999</span>
                        </div>
                    </label>
                </div>

                <div class="plan-option">
                    <input type="radio" name="plan" id="two-years" data-amount="249900" data-title="2 Years Pass Pro">
                    <label for="two-years">
                        <div class="plan-info">
                            <span class="plan-title">2 Years Pass</span>
                            <span class="plan-validity">Valid for 730 Days</span>
                        </div>
                        <div class="plan-price">
                            <span class="original-price">₹2499</span>
                        </div>
                    </label>
                </div>
                <!-- <div class="plans">
                    <div class="pricing-plans">
                        <h4>Select your Pass Pro Plan:</h4>
                
                        {% for plan in plans %}
                        <div class="plan-option">
                            <input type="radio" name="plan" id="{{ Plans.plan_type|slugify }}" data-amount="{{ Plans.price }}00" data-title="{{ Plans.plan_type }}" {% if forloop.first %}checked{% endif %}>
                            <label for="{{ plans.plan_type|slugify }}">
                                <div class="plan-info">
                                    <span class="plan-title">{{ Plan.plan_type }}</span>
                                    <span class="plan-validity">
                                        {% if plan.plan_type == "Monthly Pass" %}
                                            Valid for 31 Days
                                        {% elif plan.plan_type == "6 Months Pass" %}
                                            Valid for 180 Days
                                        {% elif plan.plan_type == "Yearly Pass" %}
                                            Valid for 365 Days
                                        {% elif plan.plan_type == "2 Years Pass" %}
                                            Valid for 730 Days
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="plan-price">
                                    <span class="original-price">₹{{ Plans.price }}</span>
                                </div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                Hidden input to store the selected plan's amount -->
                <!-- <input type="hidden" name="plan_amount" id="plan_amount" value="{{ Plans.0.price }}00">
                
                <script>
                    // JavaScript to update the hidden amount input when a plan is selected
                    document.querySelectorAll('input[name="plan"]').forEach((radio) => {
                        radio.addEventListener('change', function() {
                            document.getElementById('plan_amount').value = this.getAttribute('data-amount');
                        });
                    });
                </script> -->
                
            </div>

            <!-- <button class="buy-now-btn">Buy Pass</button> -->
            <button class="buy-now-btn" id="rzp-button1">Buy Pass</button>
        </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                document.getElementById('rzp-button1').onclick = function(e) {
        // Get the selected plan
            var selectedPlan = document.querySelector('input[name="plan"]:checked');

        // Get the amount (in paise) and plan title from the selected radio button
            var amount = selectedPlan.getAttribute('data-amount');  // Amount in paise
            var planTitle = selectedPlan.getAttribute('data-title'); // Plan title

            var options = {
                "key": "rzp_test_FQnn3Glqg1rhvn", // Enter the Key ID generated from the Dashboard
                "amount": "{{ amount }}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": planTitle,
                "description": "Payment for " + planTitle,
                "image": "https://example.com/your_logo",
                "order_id": "{{ order.id }}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    // alert(response.razorpay_payment_id);
                    // alert(response.razorpay_order_id);
                    // alert(response.razorpay_signature)
                    window.location.href="http://localhost:8000/pass"
                },
                "prefill": {
                    "name": "Shubham Rane",
                    "email": "shubhamrane016@gmail.com",
                    "contact": "9594570090"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response){
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
            });
                rzp1.open();
                e.preventDefault();
            }
            </script>
</body>
</html>